doctype html
html
  head
    title= title
    link(rel='stylesheet', href='/stylesheets/style.css')
    link(rel='stylesheet', href='/bootstrap/dist/css/bootstrap.min.css')
    link(rel='stylesheet', href='/stylesheets/metisMenu.min.css')
    // Custom CSS
    link(rel='stylesheet' href='/stylesheets/sb-admin-2.css')
    // Custom Fonts
    link(rel='stylesheet' href='/stylesheets/font-awesome.min.css')
  body
    script(src='javascripts/jquery.min.js')
    // Bootstrap Core JavaScript
    script(src='/bootstrap/js/bootstrap.min.js')
    // Metis Menu Plugin JavaScript
    script(src='javascripts/metisMenu.min.js')
    // Custom Theme JavaScript
    script(src='javascripts/sb-admin-2.js')
    block content
