extends ../layout

block content
  h1 Usuarios del sistema
  table(class="col-md-12")
    thead
      th Nombre de usuario
      th Nombre
      th Primer apellido
      th Segundo apellido
      th
        a(class="btn btn-primary", href="/users/new") Nuevo
    tbody
      each user in users
        tr
          td #{user.usuario}
          td #{user.nombre}
          td #{user.primerApellido}
          td #{user.segundoApellido}
          td
            a(class="btn btn-primary", href="#") Editar
            a(class="btn btn-primary", href="#") Eliminar
